<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Who is at the kot ?</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheet.css" />
    </head>
    <body>
        <div id="title" class="container-fluid pull-right">
            <h1>Who is at the kot ?</h1>
        </div>
        <div id="page" class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card people">
                        <img src="alice.jpg" class="img-fluid rounded-circle">
                        <p class="people-name">Alice</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card people offline">
                        <img src="julian.jpg" class="img-fluid rounded-circle">
                        <p class="people-name">Julian</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card people">
                        <img src="laurent.jpg" class="img-fluid rounded-circle">
                        <p class="people-name">Laurent</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card people">
                        <img src="thib.jpg" class="img-fluid rounded-circle">
                        <p class="people-name">Thibault</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
